* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  background-color: #3b141c;
  position: fixed;
  width: 100%;
}
.nav_logo {
  text-decoration: none;
  color: white;
}
.nav_logo .nav_text {
  font-size: 2rem;
  font-weight: 600;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_menu {
  display: flex; /* Ascunde meniul pe dispozitivele mici */
  align-items: center; /* Aranjează elementele pe verticală */
  gap: 10px; /* Spațiu între elemente */
  padding: 10px 0;
}
.nav_menu.show {
  display: flex !important; /* Forțează meniul să fie vizibil când este activată clasa 'show' */
  animation: slideIn 0.3s ease-in-out; /* Adaugă animație la deschidere */
}

.nav_bar {
  display: flex;
  padding: 20px;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}
.nav_items {
  gap: 20px;
  list-style: none;
}

.nav_link {
  text-decoration: none;
  font-size: 1.25rem;
  padding: 10px 15px;
  color: white;
}

.nav_link:hover {
  background-color: #f3961c;
  border-radius: 25px;
  transition: transform 0.5s ease-in-out, background-color 0.3s ease-in-out;
  color: #3b141c;
  box-shadow: 0px 0px 10px 5px #f3961c;
}

.menu_open_button {
  display: none;
  width: 40px;
  height: 40px;
  background-color: #f3961c;
}

.menu_open_button.active:hover {
  background-color: #f3961c;
  box-shadow: 0px 0px 5px 5px #f3961c;
  transform: scale(1.1); /* Sau orice alt efect de hover pe care îl preferi */
}

.menu_open_button:hover {
  background-color: #f3961c;
  border-radius: 25px;
  transition: transform 0.5s ease-in-out, background-color 0.3s ease-in-out;
  color: #3b141c;
  box-shadow: 0px 0px 10px 5px #f3961c;
}

.section_details {
  display: flex;
  padding-top: 40px;
  align-items: center;
  min-height: 100vh;
  justify-content: space-between;
}

@keyframes slideIn {
  0% {
    transform: translateY(-20px); /* Poziția inițială, mai sus */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* Poziția finală, pe loc */
    opacity: 1;
  }
}

@media (max-width: 946px) {
  .nav_menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%; /* Plasează meniul imediat sub buton */
    right: 0; /* Plasează meniul în partea dreaptă a butonului */
    width: 200px; /* Lățimea meniului */
    flex-direction: column; /* Elemente aliniate pe verticală */
    gap: 10px; /* Spațiu între elemente */
    padding: 10px 0;
    background-color: rgba(
      59,
      20,
      28,
      0.8
    ); /* Culoare semi-transparentă (8% opacitate) */
    border-radius: 8px; /* Colțuri rotunjite pentru meniul pop-up */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Umbra pentru un efect de pop-up */
    z-index: 999; /* Asigură-te că meniul este deasupra altor elemente */
  }
}
@media (max-width: 946px) {
  .menu_open_button {
    display: block; /* Face butonul vizibil */
    width: 40px;
    height: 40px;
    background-color: #f3961c;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 1000; /* Asigură-te că e deasupra altor elemente */
    border-radius: 5px;
    background-image: url(./img/cup-hot-fill.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}
/*hero section*/

.hero_section {
  min-height: 1vh;
  background-color: #3b141c;
  padding: 40px;
}

.hero_content {
  display: flex;
  padding-top: 5rem;
  align-items: center;
  justify-content: center;
}
.hero_img {
  width: 90%;
}

.title {
  font-size: 2.3rem;
  color: #f3961c;
  font-family: "Miniver", serif;
}

.subtitle {
  margin-top: 8px;
  max-width: 70%;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 25px;
  color: white;
}

.description {
  max-width: 70%;
  margin: 24px 0 40px;
  font-size: 1.12rem;
  margin-bottom: 25px;
  color: white;
}

.buttons {
  display: flex;
  gap: 25px;
}

.button:hover {
  background-color: #f3961c;
  border-radius: 25px;
  transition: transform 0.5s ease-in-out, background-color 0.3s ease-in-out;
  color: #3b141c;
  box-shadow: 0px 0px 10px 5px #f3961c;
  color: white;
}
.button {
  padding: 10px 26px;
  display: block;
  border: 2px solid transparent;
  border-radius: 30px;
  background: #f3961c;
  color: #3b141c;
  font-size: 1.12rem;
  font-weight: 500;
  transition: 0.3s ease;
  text-decoration: none;
}

@media (max-width: 776px) {
  .button {
    width: 100px;
    height: 30px;
    font-size: 8px;
    text-align: center;
  }
}

@media (max-width: 680px) {
  .subtitle {
    font-size: 20px;
  }
}

@media (max-width: 470px) {
  .subtitle {
    font-size: 12px;
  }
  .description {
    font-size: 8px;
  }
  .hero_img {
    width: 146%;
  }
}

/*Section - About-Us*/
.about_img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 50%;
}

.about_section {
  background-color: rgb(244, 235, 236);
}
.about_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 120px 0;
}

.about_details {
  max-width: 50%;
}
.section_title {
  display: flex;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
}

.line {
  content: "";
  width: 80px; /* Lățimea liniei */
  height: 5px; /* Grosimea liniei */
  display: block;
  margin: 10px auto 0; /* Centrarea pe orizontală și marginea de sus */
  background: #f3961c; /* Culoarea liniei */
  border-radius: 8px; /* Colțuri rotunjite, dacă este cazul */
}

.section_text {
  line-height: 30px;
  margin: 50px 0 30px;
  text-align: center;
  font-size: 1.12rem;
}

.social_link_list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.social_link:hover i svg {
  transform: scale(1.1); /* Mărește SVG-ul la hover */
  fill: #f3961c; /* Schimbă culoarea la hover */
}

@media (max-width: 680px) {
  .about_img {
    width: 250px; /* va ocupa 50% din lățimea containerului */
    height: 250px; /* menține proporțiile */
  }

  .section_text {
    font-size: 2vw; /* ajustare dinamică a textului */
  }
}

@media (max-width: 470px) {
  .about_img {
    width: 150px; /* va ocupa 50% din lățimea containerului */
    height: 150px; /* menține proporțiile */
  }

  .section_text {
    font-size: 2vw; /* ajustare dinamică a textului */
  }
}

/*Our Menue*/

.menu-section {
  padding: 60px 0 100px;
  background-color: #252525;
}
.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0 40px;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
}

.menu-list {
  display: flex;

  flex-wrap: wrap;
  gap: 50px;
  padding-top: 100px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 - 60px);
  list-style: none;
}

.line .line--menu {
  content: "";
  width: 80px; /* Lățimea liniei */
  height: 5px; /* Grosimea liniei */
  display: block;
  padding-bottom: 55px;
  background: #f3961c; /* Culoarea liniei */
  border-radius: 8px; /* Colțuri rotunjite, dacă este cazul */
}

.menu-img {
  width: 83%;
  aspect-ratio: 1;
  margin-bottom: 15px;
  object-fit: contain;
}

.menu_name {
  font-size: 1.75rem;
  font-weight: 500;
}

@media (max-width: 879px) {
  .menu-item {
    width: calc(100% / 2 - 50px); /* 2 elemente pe rând */
  }
  .menu_name {
    font-size: 1.25rem;
  }

  .menu_text {
    font-size: 12px;
  }
}

@media (max-width: 680px) {
  .menu_name {
    font-size: 1rem;
  }
  .menu_text {
    font-size: 10px;
  }
  .menu-item {
    width: 100%;
  }
}

.menu-details {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

/*testimonials*/

.testimonial-section {
  background-color: rgb(255, 245, 247);
}

.testimonial-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  text-align: center;
}

.user-img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 50px;
}
.name {
  margin-bottom: 16px;
  font-size: 1.25rem;
}

.feedback {
  max-width: 366px;
  line-height: 25px;
}

/*gallery*/

.gallery_section {
  margin-bottom: 90px;
}
.gallery-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
  list-style: none;
}

.gallery-items {
  cursor: pointer;
}

.gallery_img {
  width: 350px;
  height: 250px;
  border-radius: 10%;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth effect */
}

.gallery_img:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

@media (max-width: 879px) {
  .gallery_img {
    width: 250px;
    height: 150px;
  }
}

/*contact-section*/

.contact_section {
  background-color: antiquewhite;
}

.contact-content {
  display: flex;
}
.contact-info {
  display: flex;
  flex-direction: column; /* Aliniază elementele pe verticală */
  gap: 25px; /* Adaugă spațiu între rânduri */
}

.contact-item i svg {
  margin-right: 10px; /* Adaugă un spațiu între iconiță și text */
}

.contact-item {
  gap: 20px;
}
.section-title_black {
  color: black;
}
.contact_section {
  padding: 50px;
  background-color: #f4f4f4;
}

.contact-section {
  display: flex;
  justify-content: flex-end; /* Aliniaza la dreapta */
  padding: 50px;
  background-color: #f4f4f4;
}

.contact-form {
  display: flex;
  justify-content: flex-end; /* Aliniaza formularul la dreapta */
  flex-grow: 1; /* Asigură că formularul ia tot spațiul disponibil în container */
}

.contact-form_content {
  width: 100%;
  max-width: 500px; /* Poți ajusta această valoare pentru a modifica lățimea formularului */
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.contact-form button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #45a049;
}

.contact-form label {
  font-size: 16px;
  margin-bottom: 5px;
}

@media (max-width: 946px) {
  .contact-form {
    margin-left: 14%;
    flex-grow: 0;
  }
}

@media (max-width: 470px) {
  .contact-content {
    display: flex;
    flex-direction: column;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.footer-section {
  background-color: black;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 20px;
  color: white;
}

.policy_text {
  display: flex;
  gap: 20px;
  font-size: 1.15rem;
}

.social-link_list {
  display: flex;
  gap: 25px;
}
.policy_link {
  text-decoration: none;
  color: rgb(253, 253, 253);
}
